<div [ngClass]="{'d-none': deleted}">
<ul class="m-4 rounded-lg border-dark border list-border" >
  <li [ngStyle]="{'background-color':todoList.category}" class=" list-group-item text-center" ><input class="border-0 bg-transparent text-center text-light font-weight-bolder"
    (change)="editTodoList()" placeholder="todolijst ..."
    [(ngModel)]="todoList.name" title="klik erop om aan te passen"/>
    </li>
    <div class="input-group">
      <input type="text" placeholder="nieuwe taak ..."
      [ngClass]="{'is-invalid':errorMessage}"
       class="form-control m-2"
       [(ngModel)]="todoItem.description"  #description="ngModel" >
          <button title="kaart toevoegen aan lijst" (click)="addTodoItem()" class="btn pt-0 pb-0 border-0 float-right">
          <i class="fas fa-plus"></i>
          </button>
    </div>
    <div cdkDropList class="todo-list" (cdkDropListDropped)="drop($event)" [ngStyle]="{'background-color':todoList.category}">
    <div class=" bg-white todo-item"  *ngFor="let todoItem of todoItems | orderBy:'order':true" cdkDrag>
      <button title="kaart verwijderen van lijst"
      class="btn text-danger delete-btn mt-2 border-0 float-right"
      (click)="deleteTodoItem(todoItem.id)">
      <i class="fas fa-trash-alt"></i>
      </button>
      <app-todo-item [todoItem]="todoItem" [list_id]="todoList.id.toString()"></app-todo-item>
    </div>
  </div>
</ul>
<button title="Lijst verwijderen" class="position-absolute btn-del h3 rounded-circle bg-white text-danger"
(click)="deleteTodoList(todoList.id)" >
  <i class="fas fa-times"></i>
</button>
<button title="Kleur aanpassen" class="position-absolute bg-transparent btn-color">
  <ngx-colors ngx-colors-trigger [(ngModel)]="todoList.category"
  (change)="editTodoList()"></ngx-colors>
</button>
</div>
