
      <div class=" bg-light sticky-top">
        <div class="d-flex  flex-row w-100 flex-nowrap bg-light align-items-center sticky-top">
          <h2 class="p-2 d-none d-sm-block">ToDo App</h2>
          <h5 class="p-2 d-sm-none">ToDo App</h5>

            <ul class="nav nav-pills nav-flush flex-row flex-nowrap mb-auto mx-auto w-75  text-center align-items-center">
                <li class="nav-item w-100">
                    <a href="/" class="nav-link py-3 px-2  text-secondary" title="todo-list" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                      <i class="fas fa-list"></i>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a href="#" class="nav-link py-3 px-2  text-secondary" title="Active" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                      <i class="far fa-check-square"></i>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a href="#" class="nav-link py-3 px-2  text-secondary" title="In progress" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                      <i class="fas fa-spinner"></i>
                    </a>
                </li>
                <li class="nav-item w-100">
                    <a href="#" class="nav-link py-3 px-2  text-secondary" title="Done" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                      <i class="fas fa-check-square"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
