$light: #E6EAF9;
$secondary: #A9B2D3;
$primary: #245561;
//override Bootstrap variables and custom mixins
@import "variables";

//reboot
@import "reboot";

@import "node_modules/bootstrap/scss/bootstrap";

//custom code/partials
.hide-modal{
  display: none;
  opacity: 0;
}
.delete-btn{
  z-index: 99;
  position: relative;
}
.strike{
  text-decoration: line-through;
}

.btn-color{
  top: 35px;
  left: 30px;
  border: 0;
  outline: none;
}
.btn-addList{
  right:70px;
}

.btn-del:enabled{
  top: 30px;
  right: 50px;
  height: 35px;
  width: 35px;
  border: 0;
  outline: none;
}
.btn-del:hover{
 animation-name: zoom;
 animation-duration: 2s;

}
@keyframes zoom {
  0% { }
  65% {font-size: 2em;}
  100%{}
}
